@tailwind base;
@tailwind components;
@tailwind utilities;


/* .accordion-item.active {
    box-Shadow: 6px 6px 0px 0px #000 !important;
} */
* {
  list-style-type: none;
  text-decoration: none;
}

.bg_orange {
  background: linear-gradient(142.51deg, #fb981d 0%, #fb6609 89.88%);
}

.bg_header {
  background-image: url(/images/webp/bg_header.webp);
  background-size: cover;
  background-position: center;
}


.faq_shadow {
  box-Shadow: 6px 6px 0px 0px #000;
}

:focus-visible {
  outline: none !important;
}

@media (min-width:1024px) and (max-width:1132px) {
  .horizontal_wave {
    right: -18%;
    top: 25.4%;
    max-width: 195px;
  }
}

@media (max-width:1023px) {
  .horizontal_wave {
    right: -7.3%;
    top: 24.8%;
    max-width: 170px;
  }
}


@media (max-width:509px) {
  .horizontal_wave {
    right: -14.6%;
    top: 24%;
    max-width: 143px;
    height: 41px;
  }
}